<div class="quiz-list-container">
  <h1 class="quiz-list-title">Available Quizzes</h1>
  <div *ngFor="let quiz of quizzes" class="quiz-card">
    <div class="quiz-card-header">
      <h3 class="quiz-title">{{ quiz.title }}</h3>
    </div>
    <div class="quiz-card-body">
      <p class="quiz-description">{{ quiz.description }}</p>
    </div>
    <div class="quiz-card-footer">
      <!-- Show "Take Quiz" if the user hasn't taken the quiz -->
      <a *ngIf="!hasTakenQuiz(quiz.id)" [routerLink]="['/quiz-take', quiz.id]" class="take-quiz-button">
        Take Quiz
      </a>
      <!-- Show "View Quiz Result" if the user has taken the quiz -->
      <a *ngIf="hasTakenQuiz(quiz.id)" [routerLink]="['/quiz-result', quiz.id]" class="view-result-button">
        View Quiz Result
      </a>
    </div>
  </div>
</div>