// src/app/Component/feedback-list/feedback-list.component.scss
.table {
  width: 100%;
  margin-bottom: 1rem;
}

.btn-danger {
  color: white;
  background-color: #dc3545;
  border-color: #dc3545;
}
