div {
    margin: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    margin: 5px 0 15px;
    display: block;
  }
  
  button {
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }